
//custom style for login template


$blue: #0246a6;
$darkgrey: #111;


.form-control {
  border-radius: 0px;
  margin-bottom: 5px;
  border: 1px soild $darkgrey;
}

.form-signin {
  padding: 50px 30px 80px 30px;
  background-color: white;
  margin-top: 50px;
}

.btn {
  border-radius: 0px;
  margin-top: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.login-page {
  //free stock image source:https://stocksnap.io/photo/BV5TMGD9OJ
  background-image: url('../img/bg_desktop.jpg');
  height: 80vh;

}

.invalidup{
  margin-top: 8px;
  color: red;
}
